
/* TABLE *************************************************************************************************************/

table.pretty {
    border-collapse: collapse;
    margin-bottom: 20px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    width: 100%;
/*    table-layout: fixed;*/
}

table.pretty td, th {
    border-left: 1px solid #aaa;
    margin: 0;
    padding: 7px;
}

table.pretty th {
    background-color: #bbb;
}

table.pretty tr:nth-of-type(even) td {
    background-color: #eee;
}

table.no-stretch tr td:first-child {
    width: 1%;
    white-space: nowrap;
}

/* Same as pretty but without the alternating row colors since we will handle that manually. */
table.pretty-nested {
    border-collapse: collapse;
    margin-bottom: 20px;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
    width: 100%;
/*    table-layout: fixed;*/
}

table.pretty-nested td, th {
    border-left: 1px solid #aaa;
    margin: 0;
    padding: 7px;
}

table.pretty-nested th {
    background-color: #bbb;
}

td {
    overflow-wrap: break-word;
    padding: 10px;
}

td.button-col {
    width: 25%;
}

td.right-align {
    text-align: right;
}


/* Widget-specific styles */

#jobs table th.id-col {
    width: 60px;
}

#jobs table th.type-col {
    width: 200px;
}

#jobs table th.date-col {
    width: 150px;
}

.login-form td {
    padding: 0 5px 5px 0;
}

table.tutorial {
    border-bottom: 1px darkgray solid;
}




table.pretty td.file-header-row {
    font-weight: bold;
    height: 40px;
    font-size: 1.15em;
    border: 0;
    background-color: white;
}

table.pretty td.file-header-row-first {
    border-top: 0;
}

table.no-border {
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

tr.file-row {
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
}

tbody.file-group {
    border: 1px solid #aaa;
}



table.tbl-center td {
    text-align: center;
}

