
#sunburst-nav-msg {
    position: absolute;
    display: block;
    width: 90%;
    height: 25px;
    margin: 0px auto;
    padding: 8px 8px 1px 8px;
    border-radius: 5px;
    background-color: #8abfff;
    border: 1px solid #777;
    text-align: center;
    color: #3c3c3c;
    font-weight: bold;
    top: 0;
}

