
table.family {
    border-collapse: collapse;
}

table.family th {
    background: #bbb;
    padding: 5px;
}

table.family td {
    border-bottom: thin solid #ddd;
    padding: 5px;
}

table.attributes th
{
	background: #333;
	color: #eee;	
}

table.attributes tr td p
{
	padding-top: 10px;
}

table.attributes td {
    border-bottom: thin solid #eee;
    padding: 10px;
}
